

.parallax {
  /* The image used */
  background-image: url("/static/img/fg.png");
  /* Set a specific height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center 8em;
  background-repeat: no-repeat;
  background-size: contain;
}


